// 메인 페이지의 중앙 콘텐츠와 등장 애니메이션을 스타일링합니다.
.main__cont {
    background: #000;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

    .main__inner {
        font-size: 10vw;
        line-height: 0.85;
        font-family: "Saol";
        color: #fff;
        text-transform: uppercase;
    }
}

//main Animation
.main__inner > div{
    opacity: 0;
    transform: translateY(100px);
}